{% extends 'base.html.twig' %}

{% block title %}Formulaire nouveau mot de passe
{% endblock %}
{% block body %}
	<h2>Formulaire nouveau mot de passe</h2>

	{{ form_start(form) }}

	{{ form_row(form.password,{'label':"votre mot de passe", 'attr':{'placeholder':"Entrer votre mot de passe"}}
	) }}
	{{ form_row(form.confirm,{'label':"confirmer votre mot de passe", 'attr':{'placeholder':"Confirmer votre mot de passe"}}
	) }}

	<button type="submit" class="btn btn-primary">S'enregistrer</button>
	<a href="/">Accueil</a>

	{{ form_end(form) }}

{% endblock %}
