{% extends 'base.html.twig' %}

{% block title %}Changer son mot de passe{% endblock %}


{% block body %}
	<h2 class="title is-1 has-text-centered m-6">Formulaire nouveau mot de passe</h2>

	<div style="width: 60%; margin-right: auto; margin-left: auto;">
		{{ form_start(form) }}

		{{ form_row(form.password,{'label':"Votre nouveau mot de passe", 'attr':{'placeholder':"Entrer votre mot de passe"}}
		) }}
		{{ form_row(form.confirm,{'label':"Confirmer votre nouveau mot de passe", 'attr':{'placeholder':"Confirmer votre mot de passe"}}
		) }}

		<div class="buttons" style="margin-top: 20px;">
			<button type="submit" class="button is-primary">Confirmer</button>
			<a href="/" class="button is-danger">Accueil</a>
		</div>

		{{ form_end(form) }}
	</div>

{% endblock %}
