{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <img class="bg-image" src="images/bg.jpg" alt="background">

    <main class="home">
        <h1 class="title is-1 has-text-centered m-4 has-text-white main-title">Bibliothèque AlphaBooks</h1>
    </main>

{% endblock %}
