{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<a href="#" class="buttonHub">Rendre un livre</a>
<a href="{{ path('user_new') }}" class="buttonHub2">Créer un abonné</a>
<a href="#" class="buttonHub3">Créer un emprunt</a>
</br>
<a href="#" class="littleHubButton">sans titre</a>
<a href="#" class="littleHubButton2">sans titre2</a>
<a href="#" class="littleHubButton">sans titre3</a>
</br>
<a href="#" class="littleHubButton">sans titre4</a>
<a href="#" class="littleHubButton">sans titre5</a>
<a href="#" class="littleHubButton">sans titre6</a>

{% endblock %}
