{% extends 'base.html.twig' %}

{% block title %}Congratulation
{% endblock %}

{% block body %}
	<h1 class="title is-1 has-text-centered m-4">Mot de passe</h1>

	<div>Bravo votre mot de passe est enregistré. Vous pouvez vous reconnecter avec votre nouveau mot de passe</div>
	<div>Merci de le mémoriser avant</div>
	<a href="/">Accueil</a>
{% endblock %}
