<footer class="footer {% if (app.request.get('_route') == 'home') or (app.request.get('_route') == 'intro') or (app.request.get('_route') == 'books_list_public') %}is-transparent has-text-white{% endif %}">
    <div class="content has-text-centered">
        <p>
            Ce site a été fait en 72 000 secondes environ avec <a href="https://bulma.io/" target="_blank">Bulma</a> et <a href="https://symfony.com/" target="_blank">Symfony</a>. Merci à la <span style="font-weight: bold;">Delegate Team</span> ❤️
        </p>
    </div>
</footer>