<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://seeklogo.com/images/B/bulma-logo-45B5145BF4-seeklogo.com.png" width="20" height="28">&nbsp;<strong>AphaBooks</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Accueil
            </a>

            <a class="navbar-item">
                Livres
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Administration
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Liste Abonnés
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Liste Catégories
                    </a>
                    <a class="navbar-item">
                        Liste Livres
                    </a>
                </div>
            </div>

            <a class="navbar-item" href="{{ path('intro') }}">
                A propos
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Connexion</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>