{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block body %}
<h1>Bibliothèque Alpha</h1>
<h2>Bienvenue dans la bibliothèque la plus préférée de 2021</h2>

<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quisquam eaque facere laboriosam amet, quas nulla cumque harum doloremque voluptates alias porro quam omnis cupiditate. Corporis doloribus cumque fugiat eaque.</span><span>Culpa modi facere cupiditate facilis suscipit nulla delectus vitae molestiae quibusdam iusto voluptates, eaque dolor eligendi amet unde laboriosam maxime dolores excepturi, nobis expedita asperiores beatae neque et eius? Doloremque?</span><span>Quam impedit similique neque culpa repudiandae, sunt eaque inventore unde excepturi velit. Delectus, omnis dolorem velit vel, quae ad asperiores quos dolor qui adipisci ex esse doloribus eligendi. Explicabo, iste.</span></p>


{% endblock %}
