{% extends 'base.html.twig' %}

{% block title %}AlphaBooks - A propos de nous{% endblock %}

{% block body %}
    <img class="bg-image" src="images/bg.jpg" alt="background">


    <main class="home" style="width: 60%; margin-right: auto; margin-left: auto;">
        <section class="has-background-white p-5 el-fadeDown">
            <h1 class="title has-text-centered is-3 has-text-weight-bold m-3 title-shrink">Bibliothèque Alpha</h1>

            <h2 class="has-text-centered is-5 has-text-weight-bold m-4 fadeOut-06s">Bienvenue dans la bibliothèque la plus préférée de 2021</h2>

            <p class="m-3 has-text-justified fadeOut-07s">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quisquam eaque facere laboriosam amet, quas nulla cumque harum doloremque voluptates alias porro quam omnis cupiditate. Corporis doloribus cumque fugiat eaque.Culpa modi facere cupiditate facilis suscipit nulla delectus vitae molestiae quibusdam iusto voluptates, eaque dolor eligendi amet unde laboriosam maxime dolores excepturi, nobis expedita asperiores beatae neque et eius? Doloremque?Quam impedit similique neque culpa repudiandae, sunt eaque inventore unde excepturi velit. Delectus, omnis dolorem velit vel, quae ad asperiores quos dolor qui adipisci ex esse doloribus eligendi. Explicabo, iste.
            </p>
        </section>
    </main>


{% endblock %}
