{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="field">
        <div class="control">
            <button type="submit" class="button is-link">
                {{ button_label|default('Save') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
